<div *ngIf="question && question.type" class="h-fit w-full" (click)="quizBuilderService.setSelectedQuestion(question)">
    <div *ngIf="quizBuilderService.getSelectedQuestion() as selectedQuestion" class="common-card-style-smallnav h-32 w-full rounded-lg border-[3px]"
        [ngClass]="{
            'border-blue-600 dark:border-orange-500': selectedQuestion?.id === question.id,
            'border-slate-300': selectedQuestion?.id !== question.id
        }">
        <app-mcq-tile *ngIf="question.type === QuizType.MCQ" [question]="question"></app-mcq-tile>
        <app-msq-tile *ngIf="question.type === QuizType.MSQ" [question]="question"></app-msq-tile>
        <app-true-false-tile *ngIf="question.type === QuizType.TrueFalse" [question]="question"></app-true-false-tile>
    </div>
</div>