<div *ngIf="getSelectedQuestion() as selectedQuestion" class="w-full h-full flex flex-col justify-between items-center">
    <!-- <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label> -->
    <textarea [(ngModel)]="selectedQuestion.questionText" id="message" rows="3" class="w-full text-center common-card-style" style="resize: none;" placeholder="Write a Question..."></textarea>

    <div class="aspect-video w-[80%] common-card-style">
        <app-main-media-select-section></app-main-media-select-section>
    </div>
    <div class="w-full grid grid-cols-2 gap-x-6 gap-y-4">
        <div *ngFor="let option of selectedQuestion.options"
            class="aspect-[4/1] flex flex-row justify-end items-center p-2.5 w-full border-[3px] text-sm text-center text-gray-900 bg-gray-50 rounded-lg  focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngClass]="{
                'border-blue-600 dark:border-orange-500': selectedQuestion?.correctOptionId === option.id,
                'border-slate-300': selectedQuestion?.correctOptionId !== option.id
            }">
                <button 
                    class="h-[90%] aspect-square rounded-[50%] "
                    [ngClass]="{
                        'bg-green-400': selectedQuestion?.correctOptionId === option.id,
                        'bg-slate-400': selectedQuestion?.correctOptionId !== option.id
                    }"
                    (click)="selectedQuestion.correctOptionId = option.id">
                </button>
            </div>
    </div>
</div>