@tailwind base;
@tailwind components;
@tailwind utilities;

.media-dialog-size {
  @apply w-[80vw] h-[80vh];
}

.common-card-style {
  @apply p-2.5 text-sm text-center text-gray-900 bg-gray-50 rounded-lg border border-gray-300 
          focus:ring-blue-500 focus:border-blue-500 
          dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

@import url('./styles/mathlive-fonts.css');
@import url('./styles/mathlive-static.css');
/*
Keep it lower otherwise keyboard of latex will come below of it.
*/

.cdk-overlay-container{
  z-index: 100;
}
/*
Keep it higher than cdk overlay container so that the keyboard of Latex keyboad comes over the popup.
 */
.ML__keyboard{
  z-index: 999999;
}

/* You can add global styles to this file, and also import other style files */
/* Hide scrollbar for Chrome, Safari and Opera */
.hsb::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hsb{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
